*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

.container{
    width: 100%;
    max-width: 560px;
    background-color: navajowhite;
    border-radius: 10px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
}

.header{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.addTasks{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 15px;
}

.addTasks #taskInput{
    height: 80%;
    width: 80%;
    border: none;
    outline: none;
    background: none;
    border-radius: 30px;
    padding-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    flex: 1;
}

#addBtn{
    height: 100%;
    width: 20%;
    background-color: red;
    border-radius: 30px;
    outline: none;
    border: none;
    opacity: 0.7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}

#addBtn:hover{
    cursor: pointer;
    color: white;
    opacity: 1;
}

ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 70px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./image/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 9px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(./image/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background-color: black;
    color: white;
}